<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>Welcome to text analyzer</h1>
    <h2>Enter your text below</h2>
    <form action="/analyze" method="get">
        <textarea name="text" id="" cols="30" rows="10" style="height: 203px; width: 1577px;"></textarea>
        <div class="box"><input type="checkbox" name="removepunc" id="">Remove Punctuations</div>
        <div class="box"><input type="checkbox" name="uppercase" id="">UPPERCASE</div>
        <div class="box"><input type="checkbox" name="removenewline" id="">remove new line</div>
        <div class="box"><input type="checkbox" name="extraspaceremover" id="">Extra space remover</div>
        <div class="box"><input type="checkbox" name="charcount" id="">Count characters</div>
        <button type="submit">SUBMIT</button>
</body>
</html>